.front-page-image {
  background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)),
    url(../images/darkSteak.png);
  /* background-position: center; */
  background-position: 50% 90%;
  background-size: cover;
  width: 100%;
  height: 90vh;
  position: static;
}

.vibe-image {
  background-image: url(../images/firepic.png);
  background-position: center;
  background-size: cover;
  height: 90vh;
  position: static;
}

.vibe-image2 {
  background-image: url(../images/firepic.png);
  background-position: center;
  background-size: cover;
  position: static;
}

.car-image1 {
  background-image: url(../images/firepic.png);
  background-position: center;
  background-size: cover;
  height: 80vh;
  position: static;
}

.car-image2 {
  background-image: url(../images/nightvibe.png);
  background-position: center;
  background-size: cover;
  height: 80vh;
  position: static;
}

.car-image3 {
  background-image: url(../images/steakhouse-style-rib-eyes-ft-recipe1118.jpg);
  background-position: center;
  background-size: cover;
  height: 80vh;
  position: static;
}

.pop-up-image {
  background-image: url(../images/menulist.png);
  width: 100%;
  height: 93vh;
}

.imgStreetView {
  background-image: url(../images/StreatView.png);
  background-position: center;
  background-size: cover;
  height: 450px;
  position: static;
  width: 600px;
}

.newnew {
  width: 5000px;
}

.navshadow {
  box-shadow: 0px 1px 10px 2px #909090;
}

.logo {
  width: 150px;
  cursor: pointer;
}

.red-button {
  background-color: #ba131a;
}

.red-button:hover {
  background-color: #ba131a;
  border-color: #ba131a;
  transform: scale(1.1);
}

.red-button-outline {
  color: #ba131a;
  border-color: #ba131a;
}

.red-button-outline:hover {
  color: white;
  background-color: #ba131a;
  transform: scale(1.1);
}
/* #a71117 */
.carousel-control-prev-icon,
.carousel-control-next-icon {
  height: 40px;
  width: 40px;
}

.carousel-control-prev-icon:hover,
.carousel-control-next-icon:hover {
  opacity: 0.5;
}

input[type="time"]::-webkit-calendar-picker-indicator {
  color: rgba(0, 0, 0, 0);
  opacity: 1;
  display: block;
  background-image: url(../images/caret-down.png);
  width: 11px;
  height: 11px;
  border-width: thin;
}
